@theme-assets-path: '../../../themes/@{theme}/assets/';

.uv.en-gb {
    .centerPanel {

        .title {
            display: none;

            .desktop-mediaquery({
                display: block;
            });
        }
        
    }
}