@theme-assets-path: '../../../themes/@{theme}/assets/';

.uv {
    .centerPanel {

        .title {
            display: none;
        }

        .iiif-av-component {

            // watch
            @media only screen and (min-width: @watch-min-width) and (max-width: @watch-max-width) {
                height: 120px;
            }

            .poster-image {
                display: none;
            }

            .controls-container {
                // watch
                @media only screen and (min-width: @watch-min-width) and (max-width: @watch-max-width) {
                    margin-left: auto;
                    margin-right: auto;
                    width: 120px;
                }

                .time-display {
                    // watch
                    @media only screen and (min-width: @watch-min-width) and (max-width: @watch-max-width) {
                        margin-top: -4px;
                    }
                }
            }
        }
        
    }
}

.uv.fullscreen {
    .centerPanel {

        .title {
            .desktop-mediaquery({
                display: block;
            });
        }

        .iiif-av-component {
            .desktop-mediaquery({
                .poster-image {
                    display: block;
                }
            });            
        }
        
    }
}