.uv {

    .mobileFooterPanel {
      	//margin-top: -74px;

		@media only screen and (min-width: @watch-min-width) and (max-width: @mobile-landscape-max-width) {
			width: 135px;
		}

		@media only screen and (min-width: @watch-min-width) and (max-width: 600px) {
			width: 93px;
		}

		@media only screen and (min-width: @watch-min-width) and (max-width: @watch-max-width) {
			margin-top: -38px;
		}

		.options{
			.btn {
				&.fullScreen {
					display: block !important;
					float: left !important;
		
					@media only screen and (min-width: @watch-min-width) and (max-width: 600px) {
                        display: none !important;
                    }
				}
			}
		}
      	
    }
}